@page
@model BurgerTown.Pages.Admin.burgers.DeleteModel

@{
    ViewData["Title"] = "Supprimer";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<h3>Voulez vous supprimer cet élément ?</h3>
<div>
    <h4>Burger</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burger.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burger.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burger.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burger.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burger.Vegetarian)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burger.Vegetarian)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burger.Ingredient)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burger.Ingredient)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Burger.BurgerID" />
        <input type="submit" value="Supprimer" class="btn btn-danger" /> |
        <a asp-page="./Index">Retour à la liste</a>
    </form>
</div>
