@page
@model BurgerTown.Pages.Admin.burgers.IndexModel

@{
    ViewData["Title"] = "Administration des burgers";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-page="Create">Nouveau</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Burger[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Burger[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Burger[0].Vegetarian)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Burger[0].Ingredient)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Burger) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vegetarian)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ingredient)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.BurgerID">Éditer</a> |
                <a asp-page="./Delete" asp-route-id="@item.BurgerID">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
